<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>


<!-- <div class="container mb-3"> -->

<div class="container px-lg-10">
  <div class="row"><br><br>
    <div class="col-md-4">
      <h2 class="text-center">Quienes Somos</h2>
    </div>
    <div class="col-md-6">
      <h2 class="text-center">¿En que plataformas nos basamos?</h2>
    </div>
    <div class="col-md-2">
      <h2 class="text-center">Aliados</h2>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-4">
      <h5  class="font-weight-normal text-justified">Esta es una app enfocada en eficientizar y aligizar el proceso de auxilio a una persona en apuros. <br><br> Ya sea una emergencia médica, policial o de bomberos, nuestro fin es proporcionar a la entidad correspondiente con la mayor cantidad de información sobre el evento, siendo los datos más importantes, la ubicación del evento y contactos de emergencia del afectado, esto con el fin de tener a mano la red de contactos importantes, en caso de necesitarlos. </h5>
    </div>
    <div class="col-md-2 text-center">
      <img src="images/icons/sms.svg" class="d-inline-block align-top" width="50%" height="50%" alt="">
      <h4>SMS</h4>
    </div>
    <div class="col-md-2 text-center">
      <img src="images/icons/apple-logotype.svg" class="d-inline-block align-top" width="50%" height="50%" alt="">
      <h4>iMessage</h4>
    </div>
    <div class="col-md-2 text-center">
      <img src="images/icons/google-hangouts.svg" class="d-inline-block align-top" width="50%" height="50%" alt="">
      <h4>Hangouts</h4>
    </div>
    <div class="col-md-2">
      <img src="images/animated_icons/police.svg" alt="">
      <img src="images/animated_icons/policeCar.svg" alt="">
    </div>
  </div>
</div>
<br>

<!-- </div> -->

<%- include('includes/footer.ejs') %>
