<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>


<div class="container mb-3">
  
  <!-- Por que usarnos -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">¿Por que usarnos?</h2>
    </div>
  </div>
  <div class="row text-center mb-3">
    <div class="col-md-4">
      <img src="images/animated_icons/wifi.gif" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Conexion con otros Scooters</h4>
    </div>
    <div class="col-md-4">
      <img src="images/animated_icons/settings.gif" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Respuesta instantanea y eficaz, en donde sea que estes.</h4>
    </div>
    <div class="col-md-4">
      <img src="images/animated_icons/cloud.gif" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Funcionamiento de 24 Horas al dia, todos los dias.</h4>
    </div>
  </div>
  <hr class="my-5">
  <!-- Como usarnos -->
  <div class="row my-3 mb-5">
    <div class="col-md-12 mb-3">
      <h2 class="text-center">Asociados</h2>
    </div>
  </div>
  <div class="row text-center mb-5">
    <div class="col-md-3">
      <img src="images/icons/scoot.png" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Lime</h4>
    </div>
    <div class="col-md-3">
      <img src="images/icons/scoot2.png" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Scoot</h4>
    </div>
    <div class="col-md-3">
      <img src="images/icons/bird.png" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Bird</h4>
    </div>
    <div class="col-md-3">
      <img src="images/icons/movo.png" class="d-inline-block align-top" width="100" height="100" alt="">
      <h4>Movo</h4>
    </div>
  </div>
  
  
</div>


<!-- Button trigger modal -->




<%- include('includes/footer.ejs') %>